@model List<SilkFlo.Web.Models.Business.Process>

@foreach (var process in Model)
{
    <div column="SubArea"
         name="Business.Process"
         id="@process.Id"
         ondblclick="SilkFlo.ViewModels.Settings.PlatformSetup.BusinessUnits.Dbl_Click(event);"
         onclick="SilkFlo.ViewModels.Settings.PlatformSetup.BusinessUnits.Select_Click ( event );">
        <div name="Business.Process.Name" role="textbox">@process.Name</div>
        <input name="NameOld" type="hidden" value="@process.Name" />
        <input name="Business.Process.Id" type="hidden" value="@process.Id" />
        <input name="Business.Process.TeamId" type="hidden" value="@process.TeamId" />
    </div>
}
